@import "../../assets/scss/style.scss";

.sign-up {
  position: relative;
  margin-top: 93px;

  img {
    width: 100%;
  }

}

.sign-up-info {
  position: absolute;
  top: 30.22%;
  left: $main-padding;

  max-width: 510px;

  color: $white;

  p {
    margin-top: 10px;
    opacity: 0.7;
  }

  .btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: $desktop-width){
  .sign-up-info {
    top: 20%;
    left: 10%;
  }
}

@media screen and (max-width: $small-laptop-width){
  .sign-up {
    margin-top: 0;
  }
}