@import "../../assets/scss/style.scss";

.sign-up {
  position: relative;
  margin-top: 4.65rem;

  img {
    width: 100%;
  }

  &__info {
    position: absolute;
    top: 6.8rem;
    @include fluid-left($tablet, $desktop, $tablet-margin, $desktop-margin);

    max-width: 25.5rem;

    color: $white;

    p {
      margin-top: 0.5rem;
      opacity: 0.7;
    }

    .btn {
      margin-top: 1.5rem;
    }
  }

}

@media screen and (max-width: $laptop){
  .sign-up {
    &__info {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: $tablet) {

  .sign-up {
    margin-top: 3.75rem;
    overflow: hidden;
    background-color: #02111E;

    &__info {
      position: static;
      max-width: 100%;
      transform: translateY(0);

      @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
      @include fluid-right-margin($mobile, $tablet, $mobile-margin, $tablet-margin);

      h2 {
        padding-top: 3.75rem;
      }

      p {
        margin-top: 1.875rem;
      }

      .btn {
        margin-top: 1.875rem;
        margin-bottom: 3.1875rem;
      }
    }

    img {
      object-fit: fill;
      transform: scale(3.1) translateY(35%);
      @include fluid-position($mobile, $tablet, -96px, -310px);

      margin-bottom: 49vw;
    }

  }

}