@import "./variables.scss";
@import "./mixins.scss";

html {
  font-size: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-style: normal;
  font-family: "Work Sans Semibold", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, a, p, img {
  @include zero-indents;
}

h1, h2, h3, h4, a, p, label, button, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:focus {
  outline: none;
}

h2, h3, h4, h5 {
  font-family: "Work Sans Semibold", sans-serif;
  line-height: 115%;
}


h1 {
  font-family: "Work Sans Bold", sans-serif;
  @include fluid-type($mobile, $desktop, 28px, 60px);
}

h2 {
  @include fluid-type($mobile, $desktop, 22px, 44px);
}

h3 {
  @include fluid-type($mobile, $desktop, 18px, 28px);
}

h4, h5 {
  @include fluid-type($mobile, $desktop, 16px, 20px);
}

label {
  @include secondary-text1;
}

a {
  text-decoration: none;
  font-family: "Work Sans Semibold", sans-serif;
  color: $dark-blue;
}

p {
  @include primary-text;
}

ul {
  @include zero-list;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input {
  @include zero-indents;
  border: none;
  outline: none;
}

input[type="submit"] {
  @include zero-indents;
  border: none;
  outline: none;
}

input::-ms-input-placeholder{
  color: $grey;
  @include primary-text;
}
input::-webkit-input-placeholder{
  color: $grey;
  @include primary-text;
}
input::-moz-placeholder{
  color: $grey;
  @include primary-text;
}
input::placeholder{
  color: $grey;
  @include primary-text;
}

button {
  font-family: "Work Sans Semibold", sans-serif;
  font-style: normal;
  @include fluid-type($mobile, $desktop, 14px, 15px);
  line-height: 155%;
  background-color: transparent;
  border: none;
  outline: none;

  @include zero-indents;
}

//
//@media screen and (max-width: $small-laptop-width){
//
//  h1 {
//    font-size: 3rem;
//  }
//
//
//  h2 {
//    font-size: 28px;
//  }
//
//  h3 {
//    font-size: 24px;
//  }
//
//  h4, h5 {
//    font-size: 20px;
//  }
//}
//
//
