@mixin zero-indents {
  margin: 0;
  padding: 0;
  outline: none;
}

@mixin zero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin secondary-text1 {
  font-family: "Work Sans Semibold", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 155%;
}

@mixin secondary-text2 {
  font-family: "Work Sans Regular", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: -0.03em;
}

@mixin secondary-text3 {
  font-family: "Work Sans Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 165%;
  letter-spacing: -0.03em;
}

@mixin uppercase {
  font-family: "Work Sans Bold", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}