$desktop: 1920px;
$tablet: 1025px;
$mobile: 320px;

$tablet-small: 769px;
$mobile-big: 480px;

$laptop: 1600px;
$small-laptop: 1370px;

$dark-blue: #0D2834;
$white: #ffffff;
$black: #000000;
$gold: #C5A06D;
$dark-grey: #6E7F88;
$grey: #B6BFC2;
$light-grey: #E8ECEE;


$large-desktop: 1920px;
$desktop-width: 1600px;
$laptop-width: 1370px;
$small-laptop-width: 1320px;
$tablet-pro-width: 1024px;
$tablet-width: 768px;
$mobile-width: 440px;

$main-padding: 18rem;
$laptop-padding: 9.6rem;

$desktop-margin: 360px;
$tablet-margin: 100px;
$mobile-margin: 15px;