.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

  list-style: none;

  li {

    a{
      margin-right: 2.65rem;

      text-decoration: none;
      color: #FFFFFF;
    }

  }
}