@import "../../assets/scss/style";

.faq {
  padding: 5.8rem 0 5.5rem;
  @include fluid-left-margin($tablet, $desktop, $tablet-margin, $desktop-margin);
  @include fluid-right-margin($tablet, $desktop, $tablet-margin, $desktop-margin);

  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }

}

@media screen and (max-width: $tablet) {
  .faq {
    padding: 3.125rem 0 5rem;
    @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
    @include fluid-right-margin($mobile, $tablet, $mobile-margin, $tablet-margin);

    h2 {
      margin-bottom: 1.875rem;
    }

  }
}