@import "../../../assets/scss/style.scss";

.footer {
  background: url("../../../assets/media/footer-background.jpg") no-repeat;
  background-size: cover;
  width: 100%;

  color: $white;

  .contact-us {
    display: flex;
    padding-top: 4rem;

    .contact-info {
      width: 50%;
      @include fluid-left-margin($tablet, $desktop, $tablet-margin, $desktop-margin);

      .uppercase {
        @include uppercase;
        color: #A8AABB;
      }

      .title {
        margin-top: 1.5rem;
      }

      .text {
        margin-top: 1rem;
        max-width: 66%;

        color: #BCC1CE;
      }
    }

    .contact-form {
      width: 50%;
      @include fluid-right-margin($tablet, $desktop, $tablet-margin, $desktop-margin);

      background-color: blue;
    }
  }

  .copyright {
    height: 3.15rem;
    margin-top: 2.8rem;
    @include fluid-left-margin($tablet, $desktop, $tablet-margin, $desktop-margin);
    @include fluid-right-margin($tablet, $desktop, $tablet-margin, $desktop-margin);

    @include flex-space;

    border-top: 1px solid #C4C4C4;

    p {
      color: $white;
      opacity: 0.4;

      @include secondary-text3;
    }
  }
}


@media screen and (max-width: $tablet) {

  .footer {

    .contact-us {
      flex-wrap: wrap;
      padding-top: 2.5rem;

      .contact-info {
        width: 100%;
        @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
        @include fluid-right-margin($mobile, $tablet, $mobile-margin, $tablet-margin);

        .title {
          margin-top: 1.8125rem;
          font-size: 32px;
        }

        .text {
          margin-top: 1.4375rem;
          max-width: 100%;

          color: $white;
        }
      }

      .contact-form {
        width: 100%;
        @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
        @include fluid-right-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
      }
    }

    .copyright {
      height: auto;
      margin-top: 2.8rem;
      padding-top: 0.6875rem;
      padding-bottom: 0.8125rem;
      @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
      @include fluid-right-margin($mobile, $tablet, $mobile-margin, $tablet-margin);

      justify-content: center;
      flex-wrap: wrap;

      .logo {
        width: 100px;
        height: 23px;
      }

      p {
        margin-top: 0.4rem;
        width: 100%;
        text-align: center;
      }
    }
  }

}
