@import "../../../assets/scss/style.scss";

.footer {
  background: url("../../../assets/media/footer-background.jpg") no-repeat;
  background-size: cover;
  width: 100%;

  color: $white;

  .contact-us {
    display: flex;
    padding-top: 4rem;

    .contact-info {
      width: 50%;
      @include fluid-left-margin($mobile, $desktop, $mobile-margin, $desktop-margin);

      .uppercase {
        @include uppercase;
        color: #A8AABB;
      }

      .title {
        margin-top: 1.5rem;
      }

      .text {
        margin-top: 1rem;
        max-width: 66%;

        color: #BCC1CE;
      }
    }

    .contact-form {
      width: 50%;
      @include fluid-right-margin($mobile, $desktop, $mobile-margin, $desktop-margin);

      background-color: blue;
    }
  }

  .copyright {
    height: 3.15rem;
    margin-top: 2.8rem;
    @include fluid-left-margin($mobile, $desktop, $mobile-margin, $desktop-margin);
    @include fluid-right-margin($mobile, $desktop, $mobile-margin, $desktop-margin);

    @include flex-space;

    border-top: 1px solid #C4C4C4;

    p {
      color: $white;
      opacity: 0.4;

      @include secondary-text3;
    }
  }
}

//@media screen and (max-width: $desktop-width){
//
//  .footer {
//
//    .contact-us {
//
//      .contact-info {
//        margin-left: 10%;
//      }
//
//      .contact-form {
//        margin-right: 10%;
//      }
//
//    }
//
//    .copyright {
//      margin: 56px 10% 0;
//    }
//
//  }
//
//}