@import "../../../assets/scss/style";

.faq-item {

  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  h3 {
    padding: 2.25rem 10rem 2.75rem 5rem;
    color: $dark-blue;
  }

  p {
    display: none;
  }

  .toggle {
    background: url("../../../assets/media/plus.svg") no-repeat center center;
    width: 20px;
    height: 20px;

    position: absolute;
    top: 2.5rem;
    right: 3rem;
    cursor: pointer;
  }

  &.active {

    h3 {
      padding: 3.6rem 10rem 0 5rem;
      color: $dark-blue;
    }

    p {
      display: block;
      padding: 1.1rem 10rem 3rem 5rem;
      opacity: 0.6;
      @include primary-text;
      color: $dark-blue;
    }

    .toggle {
      background: url("../../../assets/media/minus.svg") no-repeat center center;
      width: 16px;
      height: 16px;

      position: absolute;
      top: 4.25rem;
      right: 3rem;
      cursor: pointer;
    }
  }

  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}


@media screen and (max-width: $tablet) {

  .faq-item {

    h3 {
      padding: 1.25rem 0 1.25rem;
      max-width: 90%;
    }

    .toggle {
      width: 28px;
      height: 28px;

      top: 1.3rem;
      right: 0;
    }

    &.active {

      h3 {
        padding: 1.25rem 0 0;
      }

      p {
        padding: 1.25rem 0 1.875rem;
      }

      .toggle {
        width: 24px;
        height: 24px;

        top: 1.3rem;
        right: 0;
      }
    }

  }

}


@media screen and (max-width: 450px) {

  .faq-item {

    .toggle {
      top: 1.8125rem;
    }

    &.active {
      .toggle {
        top: 1.8125rem;
      }
    }

  }

}