@import "../../assets/scss/style.scss";

.how-it-works {
  margin-top: 3.1rem;

  h2 span {
    color: $gold;
  }

  .how-post {
    position: relative;
    min-height: 23.8rem;
    margin-top: 8.45rem;
    @include fluid-left-margin($mobile, $desktop, $mobile-margin, $desktop-margin);

    .steps {
      max-width: 25.15rem;
      margin-top: 1.5rem;
    }

    img {
      position: absolute;
      top: -3rem;
      right: 15.7rem;
      @include fluid-right($mobile, $desktop, $mobile-margin, 314px);
      max-width: 43%;
    }
  }

  .how-search {
    position: relative;
    min-height: 27.9rem;
    margin-top: 13.25rem;

    h2 {
      margin-left: 50%;
      position: relative;
      z-index: 10;
    }

    .steps {
      max-width: 27rem;
      margin-top: 1.5rem;
      margin-left: 50%;
      position: relative;
      z-index: 10;
    }

    img {
      position: absolute;
      top: -6.1rem;
      left: 0;

      max-width: 54%;

      @media screen and (max-width: 1900px){
        max-width: 50%;
      }

      @media screen and (max-width: $laptop){
        top: -2rem;
      }
    }

  }

}

//@media screen and (max-width: $laptop){
//
//  .how-it-works {
//    margin-top: 1.5rem;
//
//    .how-post {
//      min-height: 29.15rem;
//      margin-top: 6rem;
//      margin-left: $laptop-padding;
//
//      //.steps {
//      //  max-width: 40%;
//      //}
//
//      img {
//        top: -3rem;
//        right: $laptop-padding;
//      }
//    }
//
//    .how-search {
//      min-height: 27.9rem;
//      margin-top: 6rem;
//
//      h2 {
//        margin-left: 50%;
//      }
//
//      .steps {
//        //max-width: 30%;
//        margin-top: 1.5rem;
//        margin-left: 50%;
//      }
//
//      img {
//        top: 0;
//        left: 0;
//
//        max-width: 50%;
//      }
//
//    }
//
//  }
//}

//@media screen and (max-width: $small-laptop-width){
//
//  .how-it-works {
//
//    .how-post {
//      margin-top: 60px;
//
//      img {
//        top: 0;
//      }
//    }
//
//    .how-search {
//      margin-top: 10px;
//
//    }
//  }
//
//}