@import "../../../assets/scss/style.scss";

.header {
  height: 93px;
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $dark-blue;

  .logo {
    margin-left: 60px;
  }

}