@import "../../../assets/scss/style.scss";

.header {
  height: 4.65rem;
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $dark-blue;

  z-index: 100;

  .logo {
    margin-left: 3rem;
  }

}

@media screen and (max-width: $tablet) {
  .header {
    height: 2.65rem;

    .logo {
      @include fluid-left-margin($mobile, $tablet, $mobile-margin, $tablet-margin);
    }

    .logo img{
      width: 128px;
      height: 29px;
    }


  }
}