@import "../../assets/scss/style.scss";

.main-slide {
  position: relative;

  img {
    width: 100%;
  }

}

.main-slide-info {
  position: absolute;
  top: 26.88%;
  left: $main-padding;

  max-width: 32%;

  color: $white;

  p {
    @include primary-text;
    margin-top: 27px;
    color: $light-grey;
  }

  .btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: $desktop-width){

  .main-slide-info {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

}

@media screen and (max-width: $small-laptop-width){
  .main-slide-info {
    p {
      font-size: 18px;
      line-height: 155%;
    }
  }
}