@import "../../assets/scss/style.scss";

.main-slide {
  position: relative;

  img {
    width: 100%;
  }

}

.main-slide-info {
  position: absolute;
  top: 10.35rem;
  @include fluid-left($mobile, $desktop, $mobile-margin, $desktop-margin);

  max-width: calc(50% - 18.5rem);

  color: $white;

  p {
    @include primary-text;
    margin-top: 1.35rem;
    color: $light-grey;
  }

  .btn {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: $laptop){

  .main-slide-info {
    top: 50%;
    transform: translateY(-50%);

    max-width: calc(50% - 13rem);
  }

}
